body {
  font-family: system-ui, sans-serif;
  background: #f5f7fa;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
  align-items: flex-start; 
  min-height: 100vh;
}

.app {
  max-width: 600px;
  margin: 150px auto 0 auto; /* top | left/right | bottom */
  padding: 1.5rem;
  text-align: center;
}


.city-selector {
  margin-bottom: 1.5rem;
}

.city-selector select {
  padding: 0.5rem;
  font-size: 1rem;
  margin-left: 10px; /* adds space between label and dropdown */
}


.weather-card {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-top: 1rem;
}